doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ./favicon.pug

		title Application Portal

		script.
			document.addEventListener('DOMContentLoaded', function (){ 
				let showPasswordCheckEl = document.getElementById("show-password")
				let passwordEl = document.getElementById("password")
				showPasswordCheckEl.addEventListener('click', function () {
					const attribute = passwordEl.getAttribute('type')
					if (attribute === 'password') {
						passwordEl.setAttribute('type', 'text')
					} else {
						passwordEl.setAttribute('type', 'password')
					}
				});

				const form = document.getElementById('login-form');
				const loginBtn = document.getElementById('login-btn');

				form.addEventListener('submit', function () {
					loginBtn.disabled = true;
					loginBtn.innerHTML = '<i class="fas fa-spinner fa-spin mr-1"></i> Logging in...';
				});


				//- modal open close
				const modal = document.getElementById('customModal');
				const openBtn = document.getElementById('openModal');
				const closeBtns = [ ...modal.getElementsByClassName('modal-close')];
				const checkbox = document.getElementById('confirmCheck');
				const confirmBtn = document.getElementById('confirmBtn');

				openBtn.addEventListener('click', () => {
					modal.classList.remove('hidden');
				});

				confirmBtn.addEventListener('click', () => {
					modal.classList.remove('hidden');
				});

				closeBtns.forEach(btn => {
					btn.addEventListener('click', () => {
						modal.classList.add('hidden');
					});
				});

				checkbox.addEventListener('change', function () {
					confirmBtn.disabled = !this.checked;
				});
			})

		style.
			.modal-overlay {
				position: fixed;
				top: 0; left: 0;
				width: 100vw; height: 100vh;
				background: rgba(0, 0, 0, 0.6);
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 1000;
			}
			.modal-overlay.hidden {
				display: none;
			}
			.modal {
				background: white;
				max-width: 800px;
				width: 90%;
				max-height: 90vh;
				//- overflow-y: auto;
				border-radius: 8px;
				padding: 1.5rem;
				position: relative;
				box-shadow: 0 0 20px rgba(0,0,0,0.2);
			}
			.modal-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 1.25rem;
				font-weight: bold;
				border-bottom: 1px solid #ccc;
				padding-bottom: 0.5rem;
			}
			.modal-close {
				font-size: 1.5rem;
				background: none;
				border: none;
				cursor: pointer;
			}
			.modal-body {
				max-height: 60vh;
				overflow-y: auto;
				margin-top: 1rem;
				font-size: 1rem;
				line-height: 1.6;
			}
			.modal-footer {
				margin-top: 1.5rem;
			}
			.btn {
				padding: 0.5rem 1rem;
				cursor: pointer;
				border-radius: 4px;
				border: none;
				font-size: 20px;
			}

			.btn-primary {
				
				background-color: #007bff;
				color: white;
			}
			.btn:disabled {
				background-color: #ccc;
				cursor: not-allowed;
			}
			.form-check {
				margin-top: 1rem;
			}
			.mt {
				margin-top: 1rem;
			}
		script(src="https://cdn.tailwindcss.com")
		//- script(src="/plugins/tailwind-css-3416/tailwind.js")

		body.font-sans.text-gray-900(class="bg-gray-50")
			.wrapper.max-w-7xl.mx-auto.px-4.mb-4

				main(class="grid md:grid-cols-3 grid-cols-1 gap-4 mt-4")
					div.flex.gap-4.flex-col(class="md:col-span-2 col-span-3")
						div.flex.shadow-md.overflow-hidden.w-full.rounded-lg(style="border: 1px solid #9f0712;" class="h-20 md:h-32")
							img(src="/assets/images/brand-name.jpg" alt="Brand Logo" class="border-blue-500" style="width: 100%;" )

						section(class="md:col-span-2")
							//- notice list
							section.p-6.rounded-lg.shadow-sm.border(class="bg-white border-blue-500 mb-4")
								h2.text-center.text-xl.font-bold.mb-4.text-blue-500 Important Notices
								div.space-y-3
									if p.notices.length > 0
										each notice in p.notices
											div.flex.items-center.justify-start.p-3.rounded-lg.shadow-md(class="bg-gray-100")
												a(href=`${s3BucketUrl}/${notice.aws_file_path}` target="_blank" class="text-red-800 hover:underline font-semibold tracking-wider") #{notice.file_name}
												img(src="/assets/images/new-blinking.gif" alt="New" width="40" class=notice.file_blink == 1 ? '' : 'hidden')
									else
										p.text-gray-500 No notices available

							//- dates and scrolling notice
							section(class="md:col-span-2 space-y-6")
								if p.is_show_scrolling_notice == 1
									div.bg-yellow-50.border-l-4.border-yellow-400.text-yellow-800.p-4.rounded-lg
										strong.block.text-sm.font-medium.uppercase Notice:
										marquee.scrolling-notice.font-semibold.text-sm #{p.scrolling_notice_name}

								div.p-6.rounded-lg.shadow-sm.border(class="bg-white border-blue-500")
									h2.text-center.text-xl.font-bold.text-blue-500.mb-4 Important Events
									div.divide-y(class="divide-gray-200")
										if p.important_dates.length > 0
											each date in p.important_dates.slice(4)
												div.hidden.flex.justify-between.items-center.py-2
													div
														p.font-medium.text-gray-900 #{date.title}
														p.text-sm.text-gray-500 #{date.secondary_title}
													div.text-right
														p.text-sm.font-semibold.text-gray-900 #{date.date}
														p.text-xs.text-gray-500 #{date.time} #{date.time_am_pm}

												div.grid.grid-cols-3.py-2
													div(class="col-span-2")
														p.font-medium.text-gray-900 #{date.title}
														p.text-sm.text-gray-500 #{date.secondary_title}
													div(class="col-span-1 text-right")
														p.text-sm.font-semibold.text-gray-900 #{date.date}
														p.text-xs.text-gray-500 #{date.time} #{date.time_am_pm}





					aside.shadow-sm.rounded-lg.p-6.space-y-16(class="bg-white border border-blue-500 col-span-3 md:col-span-1 ")
						form(id="login-form" action='/login' method="POST" class="space-y-4")
							p.text-center.text-lg.bg-gray-200.py-1.rounded-md.animate-pulse(class="text-[#333] font-bold") Already Registered
							input#userId(value="" type="text" name="utrUserName" placeholder="Enter User ID" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white text-gray-900")
							input#password(value="" type="password" name="utrPassword" placeholder="Enter Password" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white text-gray-900")
							.flex.items-center
								input#show-password(type="checkbox" class="mr-2")
								label(for="show-password" class="text-sm text-gray-900") Show Password
							if message
								p.text-red-500.text-lg.mt-2 #{message}
							div.flex.gap-2
								button(id="login-btn" type="submit" class="w-full py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600")
									i.fas.fa-sign-in-alt.mr-1
									| Login
								button(type="reset" class="w-full py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400")
									i.fas.fa-sync-alt.mr-1
									| Reset

						//- .flex.justify-between.text-lg.text-blue-500
						//- 	a(href="/forget-username" class="hover:underline") Forgot User ID?
						//- 	a(href="/forget-password" class="hover:underline") Forgot Password?


						//- helpline
						section.text-center.text-lg.rounded-lg.p-4.flex.gap-2.justify-center.flex-col(class="bg-gray-100 border border-blue-500 shadow-md")
							p.font-medium.text-blue-500 For Technical Help Only
							a(href=`tel:${p.help_mobile_number}` class="text-orange-500 animate-blink font-bold block")
								i.fa-solid.fa-phone.mr-2
								| +91 #{p.help_mobile_number}
							p.text-blue-500 ( 10:00 AM to 5:00 PM )
							a(href=`mailto:${p.help_email_id}` class="text-blue-400 animate-blink ")
								i.fa-solid.fa-envelope.mr-2
								| #{p.help_email_id}

			//- Trigger Button
			button#openModal.btn(style="margin: 2rem;") Show Instructions

			//- Modal Overlay
			div#customModal.modal-overlay.hidden
				div.modal
					div.modal-header
						div
						h2 श्री शिवाजी शिक्षण संस्था, अमरावती
						div

					div.modal-body
						p अर्जदारांना सूचित करण्यात येत आहे कि, कनिष्ठ लिपिक आणि प्रयोगशाळा सहाय्यक या पदाची भरती प्रक्रिया ज्या टप्प्यावर प्रलंबित झालेली होती त्या टप्प्यावर सुरु करण्यात येत आहे.
						p कनिष्ठ लिपिक आणि प्रयोगशाळा सहाय्यक या पदांसाठी अर्ज भरलेल्या सर्व अर्जदारांना रजिस्टर मोबाईल क्रमांकावर एस.एम.एस. द्वारे USER ID आणि PASSWORD पाठविण्यात आलेले आहेत.  ज्या अर्जदारांनी दोन्ही पदांकरिता अर्ज भरलेले आहेत अश्या अर्जदारांना दोन्ही पदाकरिता वेगवेगळा USER ID आणि PASSWORD देण्यात आलेला आहे. 

						p अर्जदारांना USER ID आणि PASSWORD प्राप्त झाल्यावर 
							a.underline.text-blue-500(href="https://www.ssesa.in", target="_blank") www.ssesa.in 
							| या संकेतस्थळावर लॉगीन करावे.

						h4.mt.font-semibold Step No. 1 :-
						p अर्जदारांनी ऑफलाईन अर्ज सादर करतांना जी वैयक्तिक माहिती भरलेली होती ती माहिती उमेदवारांना स्क्रीन वर दिसेल, अर्जदारांना माहिती मध्ये काही बदल करावयाचा असल्यास EDIT बटन वर क्लिक करावे आणि माहिती भरून SUBMIT बटन वर क्लिक करावे. ( माहिती बरोबर असल्यास कोणताही बदल करण्यात येऊ नये. ) ज्या अर्जदारांचा ई-मेल आय.डी. किंवा मोबाईल क्रमांक बदललेला आहे त्यांना ई-मेल आय.डी. किंवा मोबाईल क्रमांक बदलण्याची सुविधा उपलब्ध करून देण्यात आलेली आहे. 

						h4.mt.font-semibold Step No. 2 :-
						p अर्जदारांना या टप्प्यामध्ये आधार कार्ड वरील समोरील बाजू, नवीन पासपोर्ट साईझ फोटो / छायाचित्र आणि पांढऱ्या कागदावर स्पष्ट स्वाक्षरी करून सर्व छायाचित्र अपलोड करायचे आहेत. छायाचित्र अपलोड करतांना आधार कार्ड, पासपोर्ट साईझ नवीन फोटो, आणि स्वाक्षरी या स्पष्ट असायला पाहिजे. अस्पष्ट छायाचित्र असल्यास परीक्षेस प्रवेश नाकारला जाऊ शकतो याची अर्जदारांनी नोंद घ्यावी. 

						h4.mt.font-semibold Step No. 3 :-
						p अर्जाची प्रिंट काढून अर्जदारांनी पदभरती प्रक्रिया पूर्ण होई पर्यंत स्वतःजवळ सांभाळून ठेवावी. तसेच एस.एम.एस. द्वारे प्राप्त झालेला USER ID आणि PASSWORD सांभाळून ठेवावा. 

						p.text-red-500 ( अर्जदारांनी दि. २९/०५/२०२५ रोजी सकाळी ११.०० वाजता पासून ते दि. १२/०६/२०२५ रोजी सायंकाळी ०५.०० वाजे पर्यंत माहिती अद्यावत करणे अनिवार्य आहे. )


					div.modal-footer.flex.flex-col.gap-3
						div.flex.flex-col.gap-2(class="md:flex-row md:items-center")
							input#confirmCheck(class="w-8 h-8" type="checkbox")
							label.font-semibold(for="confirmCheck") I confirm that I have read and understood all the instructions given above.
						button#confirmBtn.btn.btn-primary(type="button", disabled class="modal-close") Proceed
						//- button.btn(type="button", id="closeModalBtn") Close
