extends ./new/layout_index_new

block css_link
    style.
        @media print {
            @page{
                size: A4 portrait;
                margin-left: 5mm !important;
                margin-right: 5mm !important;
                border: 1px solid black; 

            }
            body {
                -webkit-print-color-adjust: exact;
            }
            .button-hide{
                display:none;
            }
            .container {
                margin: 0;
            }
            .table-bordered th, .table-bordered td,.table thead th{
                border: 0.5px solid black !important;
            }
            .table th > .table  td,.table td > .table  td,.table td > .table  th  {
                border-bottom: 0px !important;
            }
            .table tbody td .table-bordered.table thead .table-bordered,.table-bordered .text-color-alter,.text-color-alter .h3{
                background-color:gray !important;
                color:white !important;
                print-color-adjust: exact;
            }

            thead {
                display: table-header-group;
            }

            .page-break{
                page-break-inside: avoid;
            }

            .header-container, 
            .nav-bar {
                display: none;
            }
            table {
                border-collapse: collapse !important;
            }

            .print-full-width {
                width: 100vw;    
                position: relative;
                //- width: 297mm;
            }

            .print-hide {
                display: none;
            }
        }

        header,
        .header-container, 
        .nav-bar {
            display: none;
        }

        .print-full-width {

            position: relative;
            width: 297mm;
            margin-inline: auto;
            border: 1px solid rgba(0,0,0,.5);
            padding: 1.2rem;
        }

        .footer{
            border: 0.5px solid gray;
        }

        .table-bordered th, .table-bordered td,.table thead th{
            border: 0.5px solid black;
        }

        .text-color-alter .h3,.text-color-alter{
            background-color:gray !important;
            color:white !important;
            print-color-adjust: exact;
        }

        .table th > .table  td,.table td > .table  td,.table td > .table  th  {
            border-bottom: 0px !important;
        }

        small, span { 
            background-color: inherit;
        }

        table {
            border-collapse: collapse !important;
        }

        .section-heading {
            font-weight: 500;
            font-size: var(--para-label-2-font-size) !important;
            padding: 0.3rem 0 0 0 !important;
        }

        td {
            font-size: var(--para-label-font-size) !important;
            padding: 0.2rem !important;
        }

        th {
            font-size: var(--para-label-font-size) !important;
            padding: 0rem !important;
            font-weight: 500;
        }

        .candidate-photo-sign-container {
            position: absolute;
            right: 4rem;
            top: 12rem;
            z-index: 999 !important;

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
block content

    div.container
        div.print-hide.my-3
            a.btn.btn-primary.btn-sm.ml-2.mt-2.mx-3(href="/") HOME
            button.btn.btn-success.ml-2.mt-2.btn-sm(onclick="window.print();") Print Application

    div.print-full-width
        .row
            .col-12.d-flex.justify-content-center
                div(style="width: 50rem; height: 6.5rem; overflow: hidden;")
                    img(src="/assets/images/banner-sses.png" alt="" class="header-image" style='height: 100%; width: 100%;')
            .col-12
                p.text-right.input-label Printed On&nbsp;::&nbsp;#{todaysDate}

                div.candidate-photo-sign-container
                    img#imageUploadPreview(src=s3BucketUrl + '/' + preview_data.photo, alt='candidate-photo' style='border: 1px solid gray; width:100px;height:100px;')
                    img#signUploadPreview.img-fluid(src=s3BucketUrl+ '/' +preview_data.sign , alt='candidate-sign' style='border: 1px solid gray; width:100px;height:80px;')

                .card
                    .card-body
                        table
                            tbody
                                tr
                                    td(width='25%') Application Id (अर्ज क्र.)
                                    td #{preview_data.application_id}
                                tr
                                    td(width='15%') Full Name (संपूर्ण नाव)
                                    td  #{preview_data.full_name}
                                tr
                                    td(width='15%') Department Name (विभाग नाव)
                                    td #{preview_data.ca_detailsMainPost}
                                tr
                                    td(width='15%') Post (पोस्ट नाव)
                                    td #{preview_data.post_name}
                                tr
                                    td(width='15%') Date Of Birth (जन्मतारीख)
                                    td(colspan='2') #{preview_data.date_of_birth}
                                tr
                                    td(width='15%') Gender (लिंग)
                                    td(colspan='2') #{preview_data.gender}
                                tr
                                    td(width='15%') Caste (कास्ट)
                                    td(colspan='2') #{preview_data.catagory}
                                tr
                                    td(width='15%') Sub Category (सब कास्ट)
                                    td(colspan='2') #{preview_data.detailsSubCategory}
                                tr
                                    td(width='15%') Address (पत्ता)
                                    td(colspan='2') #{preview_data.address}
                                tr
                                    td(width='35%') Mobile Number (मोबाईल क्र.)
                                    td(colspan='2') #{preview_data.mobile_name}
                                tr
                                    td(width='35%') Alternative Number (पर्यायी मोबाईल क्र.)
                                    td(colspan='2') #{preview_data.alternative_number ? preview_data.alternative_number : '-'}
                                tr
                                    td(width='35%') Email ID (ईमैल आयडी)
                                    td(colspan='2') #{preview_data.email_id}

        .col-12
            center
                button.button-hide.btn.btn-success.ml-2.mt-2(onclick="window.print();") Print Application
